@model WebApplication3.Models.Guestbooks

@{ 
    ViewBag.Title = "修改留言";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <h3>修改留言</h3>
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Content)
            </td>
            <td>
                @Html.TextAreaFor(model => model.Content, new { rows = "5", cols = "35" })
                @Html.ValidationMessageFor(model => model.Content)
            </td>
        </tr>
    </table>
    if(Model.ReplyTime == null)
    {
        <input type="submit" value="修改留言" />
    }
    else
    {
        <text>此留言已回覆無法修改，請</text>
        @Html.ActionLink("返回列表","Index")
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
