@model WebApplication3.ViewModels.GuestbookView

<div id="DataList">
    <h3>留言板內容</h3>
    <div>
    @using (Ajax.BeginForm("GetDataList", "Guestbook", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "DataList"}))
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Search)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Search, new { style = "width:200px" })
                </td>
                <td>
                    <input type="submit" value="搜尋" />
                </td>
            </tr>
        </table>
    }
    </div>
    <br />
    <div>
        <table class="description" cellpadding="10" cellspacing="10">
            @if (!Model.DataList.Count.Equals(0))
            {
                foreach (var item in Model.DataList)
                {
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.DataList[0].Members.Name)
                        </td>
                        <td>
                           @item.Members.Name
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.DataList[0].CreateTime)
                        </td>
                        <td>
                            @item.CreateTime
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.DataList[0].Content)
                        </td>
                        <td colspan="3">
                            @item.Content
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.DataList[0].Reply)
                        </td>
                        <td colspan="3">
                            @item.Reply
                        </td>
                    </tr>
                    <tr style="border-bottom : 1px dashed;">
                        <td>
                            @Html.DisplayNameFor(model => model.DataList[0].ReplyTime)
                        </td>
                        <td>
                            @item.ReplyTime
                        </td>
                        <td colspan="2">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @Html.ActionLink("修改留言", "Edit", new { Id = item.Id })
                                if (User.IsInRole("Admin"))
                                {
                                    @Html.ActionLink("回覆留言", "Reply", new { Id = item.Id })
                                    @Html.ActionLink("刪除留言", "Delete", new { Id = item.Id })
                                }
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">
                        資料庫查無資料
                    </td>
                </tr>
            }
            <tr>
                <td>
                    @if (Model.Paging.NowPage > 1)
                    {
                        @Ajax.ActionLink("<<", "Index", new { Page = 1, Search = Model.Search }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "DataList" })
                        @Ajax.ActionLink("<", "Index", new { Page = Model.Paging.NowPage - 1, Search = Model.Search }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "DataList" })
                    }
                </td>
                <td>
                    @for (var page = (Model.Paging.NowPage - 5); page < (Model.Paging.NowPage) + 6; page++)
                    {
                        if ((page > 0) && page <= Model.Paging.MaxPage)
                        {
                            if (page == Model.Paging.NowPage)
                            {
                                <b>@page</b>
                            }
                            else
                            {
                                @Ajax.ActionLink(page.ToString(), "Index", new { Page = page, Search = Model.Search }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "DataList" })
                            }
                        }
                    }
                </td>
                <td>
                    @if (Model.Paging.NowPage < Model.Paging.MaxPage)
                    {
                        @Ajax.ActionLink(">", "Index", new { Page = Model.Paging.NowPage + 1, Search = Model.Search }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "DataList" })
                        @Ajax.ActionLink(">>", "Index", new { Page = Model.Paging.MaxPage, Search = Model.Search }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "DataList" })
                    }
                </td>
            </tr>
        </table>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")    
}