@model WebApplication3.Models.Guestbooks

@{
    ViewBag.Title = "回覆留言";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <h3>回覆留言</h3>
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Content)
            </td>
            <td>
                @Html.TextAreaFor(model => model.Content, new { rows = "5", cols = "35", @readonly = true })
                @Html.ValidationMessageFor(model => model.Content)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Reply)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Reply)
                @Html.ValidationMessageFor(model => model.Reply)
            </td>
        </tr>
    </table>
    if (Model.ReplyTime == null)
    {
        <input type="submit" value="回覆留言">
    }
    else
    {
        <text>此留言已回覆</text>
        @Html.ActionLink("返回列表","Index")
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
